

@media only screen and (max-width: 50rem) {
    body {
            background-image: url(assets/images/background-pattern-mobile.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    .container {
        border: none;
        background-color: aliceblue;
        position: fixed;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 555px;
        left: 0;
        width: 29rem;
        height: 5rem;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}