body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
}

.container {
    border: none;
    background-color: white;
    box-shadow: 0px 0px 40px 10px var(--soft-black);
    border-radius: 15px;
    padding: 2.5em;
    margin: 1.2em;
    max-width: 36rem;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

@media only screen and (max-width:50rem) {
    body {
        background-color: rgb(199, 255, 255);
        background-image: url(./assets/images/background-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40px;
    }

    
        
    

    .container {
        padding: 1.6em;
    }

    .star-icon {
        max-height: 25px;
        max-width: 25px;
    }

    .faq-text {
        font-size: 2em;
    }

}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}