nav {
    position: fixed;
    top: 0;
    box-shadow: 0px 6px 29px -7px;
    width: 100%;
    height: 50px;
    margin-left: -8px;
}

.nav-center {
    margin-top: -5px;
    margin-left: 15px;
    color: rgb(30, 105, 175);
    font-family: "Inconsolata", monospace;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-variation-settings:
            "wdth" 120;
}
.nav-center:hover { 
    color: red;
    transition: 0.3s;
} 
.nav-links {
    justify-content: right;
    float: right;
    margin-top: -40px;
    margin-right: 258px;
}

li {
    list-style-type: none;
    display: inline;
    margin: 20px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 112.5;
}

a {
    text-decoration: none;
    color: rgb(73, 66, 66);
}
a:hover {
    color: rgb(165, 132, 42);
    transition: 0.3s
}

.container {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(29, 28, 28);
    color: white;
    width: 450px;
    height: 90px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.btn-hero {
    background-color: white;
    color: black;
    margin: 25px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.btn-hero:hover{
    background-color: rgb(219, 211, 211);
    transition: 0.3s;
    box-shadow: 10px 10px 5px 0px;
}

.color { 
    color: rgb(93, 93, 235);
}